* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* start header section  */
header {
    display: flex;
    width: 100%;
    padding: 10px;
    background-color: #fff9f4;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    justify-content: space-around;
    padding: 10px 100px;
    align-items: center;
    position: sticky;
    top: 0;
}
#logo {
    width: 20%;
    /* border: 2px solid black; */
    display: flex;
    padding: 5px 0;
}
#logo img {
    width: 100%;
    /* border: 1px solid red; */
}
.logo-name {
    display: flex;
    /* border: 1px solid red; */
}
.logo-name span {
    font-family: Arial, sans-serif;
    font-size: 23px;
    font-weight: bold;
}
#orange { 
    color: #ff8367;
}
.nav-links { 
    display: flex;
    justify-content: space-around;
    gap: 30px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a {
    text-decoration: none;
    color: #333;
    font-family: Arial;
    font-size: 18px;
}
#fa-bars {
    text-align: right;
    display: none;
}
/* End header section  */
 /* start hero section  */
 .hero-section {
    width: 100%;
    padding: 20px 100px;
    background-color: beige;
    display: flex;
    gap: 70px;
    justify-content: center;
}
.shoe-img {
    width: 60%;
    /* border: 1px solid red; */
}
.shoe-img img {
    /* border: 1px solid black; */
    width: 100%;
}
.main-heading {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
    font-family: 'Bebas Neue';
    /* align-items: center; */
    font-size: 40px;
    gap: 10px;
}
#orng {
    color: #ff8367;
}
#blue {
    color: #363958;
}
#para {
    font-family: sans-serif;
    font-size: 16px;
    color: #646060;
}
.btn {
    outline: none;
    background-color: #3D4FF3;
    border: navajowhite;
    width: 25%;
    padding: 7px 5px;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button {
    display: flex;
    gap: 5px;
}
.icon {
    font-size: large;
}

 /* End hero section  */

 /* start section one  */
 .section-one {
    padding: 20px 100px;
    width: 100%;
    background-color: #E5E5E5;
 }
 #boxex {
    display: flex;
    gap: 20px;
    width: 100%;
    /* justify-content: space-between; */
 }
 
 .section-one #blue {
    color: #363958;
    font-family: Bebas Neue;
    font-size: 3rem;
 }
.box-1 {
    border: 5px solid white;
    border-radius: 10px;
    width: 30%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
 }
 .box-1 img {
    width: 20vw;
    padding: 20px 20px;
    display: flex;
 }
 .box-1 p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 1000;
    color: rgb(48, 48, 49)
 }
 .shoe-1 {
    background-color: #E5E5E5;
    border-radius: 12px;
    padding-bottom: 25px;
 }
 .shoe-name {
    color: #363958;
    padding-top: 10px;
    font-family: Arial, sans-serif;
 }
 .prize {
    display: flex;
    gap: 100px;
    padding-bottom: 5px;
    padding: 10px;
 }
 .prize h4 {
    color: #ff8367;
    font-weight: bold;
    font-size: 25px;
 }
button{
    font-size: 16px;
    outline: none;
    background-color: #3D4FF3;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}

 .prize i {
    font-size: 20px;
 }
 .box-2 {
    border: 5px solid white;
    border-radius: 10px;
    width: 30%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
 }
 .box-2 p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 1000;
    color: rgb(48, 48, 49)
 }
 .box-2 img {
    width: 20vw;
    padding: 20px 20px;
 }
 .shoe-2 {
    background-color: #E5E5E5;
    padding-bottom: 15px;
    border-radius: 12px;

 }
 .shoe-name {
    color: #363958;
    padding-top: 10px;
    font-family: Arial, sans-serif;
 }
 .prize {
    display: flex;
    gap: 100px;
    padding-bottom: 5px;
    padding: 10px;
 }
 .prize h4 {
    color: #ff8367;
    font-weight: bold;
    font-size: 25px;
 }

 .prize i {
    font-size: 20px;
 }
 button{
    font-size: 16px;
    outline: none;
    background-color: #3D4FF3;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}
 .box-3 {
    border: 5px solid white;
    border-radius: 10px;
    width: 30%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
 }
 .box-3 img {
    width: 20vw;
    /* padding: 20px 20px; */
 }
 .box-3 p {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 1000;
    color: rgb(48, 48, 49)
 }
 .shoe-3 {
    background-color: #E5E5E5;
    border-radius: 12px;
    padding-bottom: 35px;
 }
 .shoe-name {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 1000;
    color: rgb(54, 57, 88);;
 }
 .prize {
    display: flex;
    gap: 100px;
    padding-bottom: 5px;
    padding: 10px;
 }
 .prize h4 {
    color: #ff8367;
    font-weight: bold;
    font-size: 25px;
 }

 .prize i {
    font-size: 20px;
 }
 button{
    font-size: 16px;
    outline: none;
    background-color: #3D4FF3;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 8px;
    padding-bottom: 5px;
    cursor: pointer;
}
 /* End section one  */

 /* Start section two  */

 .section-two {
    width: 100%;
    padding: 20px 100px;
    background-color: #E5E5E5;
    justify-content: center;
 }
.shoe-parts {
    display: flex;
    gap: 20px;
    
 }
 .section-two #blue {
    color: #363958;
    font-family: Bebas Neue;
    font-size: 3rem;
 }
.shoe-4 {
    border: 5px solid white;
    border-radius: 20px;
    width: 26vw;
    background-color: white;
    padding: 20px;
    /* height: 80vh; */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.shoe-4 img {
    width: 23vw;
}

.shoe-5 {
    border: 5px solid white;
    border-radius: 20px;
    width: 26vw;
    background-color: white;
    padding: 20px;
    /* height: 80vh; */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.shoe-5 img {
    width: 23vw;
}
.shoe-6 {
    border: 5px solid white;
    border-radius: 20px;
    width: 26vw;
    background-color: white;
    padding: 20px;
    /* height: 80vh; */
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}
.shoe-6 img {
    width: 23vw;
}
/* End section two  */

/* Start section three  */
.section-three {
    width: 100%;
    padding: 20px 100px;
    background-color: rgb(229, 229, 229);
    display: flex;
    gap: 10px;
}

.service-cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40vw;
}
.service-cards .card-1 {
    display: flex;
    gap: 50px;
    /* padding: 20px; */
}
.card-1 {
    border-radius: 20px;
    padding: 20px 80px;
    background-color: #fff;
    padding: 30px 50px;
}
.content {
    display: flex;
    flex-direction: column;
}
.card-1 .blue {
    color: #363958;
}
.card-1 img {
    width: 5vw;
}
.card-1 .content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.serivice-img {
    /* width: 50%; */
    border: 1px solid green;
}
.serivice-img img {
    /* width: 5vw; */
}
/* End section three  */
.contact-sec {
    width: 100%;
    padding: 50px 100px;
    background-color: rgb(229, 229, 229);
}
.contact-sec .blue {
    font-family:  sans-serif;
    font-size: 24px;
    font-weight: 1000;
    color: rgb(54, 57, 88);
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 40px;
}
.input {
    background-color: #fff;
    padding: 40px 60px;
    border-radius: 30px;
}
.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 15px 0;
    font-weight: 20px;
    font-size: 18px;
    /* border: 1px solid red; */
}

.input #add {
    border: none;
    padding: 16px 30px;
}
#add:hover {
    background-color: #198754;
    cursor: pointer;
}
.input#add:focus {
    border: 2px solid #198754;
    outline: navajowhite;
}
.information {
    padding: 40px 100px;
    display: flex;
    gap: 150px;
    width: 100%;
    background-color: #f8f9fa !important;
    justify-content: center;
}
.info-1 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info-1 .blue {
    color: #363958;
    font-family: 'Roboto';
}
.info-2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info-2 .blue {
    color: #363958;
    font-family: 'Roboto';
}
.info-3 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.info-3 .blue {
    color: #363958;
    font-family: 'Roboto';
}






footer {
    padding: 25px 0;
}
footer p {
    text-align: center;
}
footer .name {
    text-align: center;
    color: #ff8367;
}
/* Media query apply  */
@media screen and (max-width: 481px) {
    #fa-bars {
        display: block;
        border: 1px solid black;
        padding: 5px 10px;
    }
    .nav-links {
        display: none;
    }
    header {
        padding: 0;
    }
    #logo {
        width: 50%;
    }
    #logo img {
        width: 100%;
    }
    body {
        /* background-color: red; */
    }
    .hero-section {
        width: 100%;
        /* border: 1px solid red; */
        /* padding: 20px 100px; */
        display: flex;
        flex-direction: column;
        gap: 0;
        /* align-items: center; */
    }
    .hero-section .shoe-img img {
        /* border: 1px solid red; */
        width: 70vw;
        padding-right: 80px;
    }
    .main-heading {
        /* width: 40%; */
        /* border: 1px solid red; */
    }
    .main-heading #orng {
        /* border: 1px solid red; */
        font-size: 50px;
    }
    #blue {
        font-size: 40px;
    }
    #para {
        font-size: 7px;
        color: #333;
    }
    .btn {
        width: 30vw;
    }
    .section-one {
        /* border: 1px solid black; */
        width: 100%;
        padding: 20px 60px;
    }
    .section-one #blue {
        /* border: 1px solid red; */
        font-size: 40px;
    }
    #boxex {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-1 {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 5px;
    }
    .box-1 img {
        /* border: 1px solid red; */
        width: 100%;
        /* padding: 30px; */
    }
    .shoe-1 {
        /* border: 1px solid red; */
        width: 100%;
        background-color: #E5E5E5;
        /* padding: 10px; */
    }
    .box-1 p{
        font-size: 8px;

    }
    .prize i {
        /* border: 1px solid red; */
        font-size: 10px;
    }



    .box-2 {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 5px;
    }
    .box-2 img {
        /* border: 1px solid red; */
        width: 100%;
        /* padding: 30px; */
    }
    .shoe-2 {
        /* border: 1px solid red; */
        width: 100%;
        background-color: #E5E5E5;
        /* padding: 10px; */
    }
    .box-2 p{
        font-size: 8px;

    }
    .prize i {
        /* border: 1px solid red; */
        font-size: 10px;
    }


    .box-3 {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 5px;
    }
    .box-3 img {
        /* border: 1px solid red; */
        width: 100%;
        /* padding: 30px; */
    }
    .shoe-3 {
        /* border: 1px solid red; */
        width: 100%;
        background-color: #E5E5E5;
        /* padding: 10px; */
    }
    .box-3 p{
        font-size: 8px;

    }
    .prize i {
        /* border: 1px solid red; */
        font-size: 10px;
    }




    .section-two {
        /* border: 1px solid black; */
        width: 100%;
        padding: 20px 60px;
    }
    .section-two #blue {
        /* border: 1px solid red; */
        font-size: 40px;
    }
    .shoe-parts {
        /* border: 1px solid red ; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shoe-4 {
        /* border: 1px solid blue; */
        width: 70vw;
        padding: 5px;
    }
    .shoe-4 h4 {
        color: #363958;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .shoe-4 img {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 20px;
    }
    .shoe-5 {
        /* border: 1px solid blue; */
        width: 70vw;
        padding: 5px;
    }
    .shoe-5 h4 {
        color: #363958;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .shoe-5 img {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 20px;
    }


    .shoe-6 {
        /* border: 1px solid blue; */
        width: 70vw;
        padding: 5px;
    }
    .shoe-6 h4 {
        color: #363958;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .shoe-6 img {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 20px;
    }

    .section-three {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* border: 1px solid red; */
    }
    .service-cards {
        width: 70vw;
    }
    .card-1 {
        /* border: 1px solid red; */
        width: 70vw;
        padding: 10px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card-1 img {
        width: 15vw;
        display: flex;
        gap: 0px;
    }
    .content h4 {
        font-size: 15px;
    }
    .content p {
        font-size: 9px;
        padding-bottom: 10px;
    }
    .service-img img{
        /* border: 1px solid red; */
        width: 70vw;
    }

    .contact-sec {
        width: 100%;
        /* border: 1px solid red; */
        padding: 20px 20px;
    }
    .input { 
        /* padding: 30px; */
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        /* padding; 5px 20px; */
    }
    .input .blue {
        font-size: 9px;
        padding: 5px;
    }
    .input .row { 
        border: 1px solid #646060;
    }
    .row input {
        padding: 2px;
        width: 45vw;
        font-size: 12px;
        /* border: 1px solid red; */

    } 
    .row #add {
        /* border: 1px solid green; */
        font-size: 6px;
        width: 1vw;
        text-align: center;
        border-radius: 2px;
    }
    .information {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

/* Media query for tab  */
@media screen and (min-width:481px) and (max-width:768px) {
    #fa-bars {
        display: block;
        border: 1px solid black;
        padding: 5px 10px;
    }
    .nav-links {
        display: none;
    }
    header {
        padding: 0;
    }
    #logo {
        width: 50%;
    }
    #logo img {
        width: 100%;
    }
    body {
        /* background-color: red; */
    }
    .hero-section {
        width: 100%;
        /* border: 1px solid red; */
        /* padding: 20px 100px; */
        display: flex;
        flex-direction: column;
        gap: 0;
        /* align-items: center; */
    }
    .hero-section .shoe-img img {
        /* border: 1px solid red; */
        width: 70vw;
        padding-right: 80px;
    }
    .main-heading {
        /* width: 40%; */
        /* border: 1px solid red; */
    }
    .main-heading #orng {
        /* border: 1px solid red; */
        font-size: 50px;
    }
    #blue {
        font-size: 40px;
    }
    #para {
        font-size: 7px;
        color: #333;
    }
    .btn {
        width: 30vw;
    }
    .section-one {
        /* border: 1px solid black; */
        width: 100%;
        padding: 20px 60px;
    }
    .section-one #blue {
        /* border: 1px solid red; */
        font-size: 40px;
    }
    #boxex {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box-1 {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 5px;
    }
    .box-1 img {
        /* border: 1px solid red; */
        width: 100%;
        /* padding: 30px; */
    }
    .shoe-1 {
        /* border: 1px solid red; */
        width: 100%;
        background-color: #E5E5E5;
        /* padding: 10px; */
    }
    .box-1 p{
        font-size: 8px;

    }
    .prize i {
        /* border: 1px solid red; */
        font-size: 10px;
    }



    .box-2 {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 5px;
    }
    .box-2 img {
        /* border: 1px solid red; */
        width: 100%;
        /* padding: 30px; */
    }
    .shoe-2 {
        /* border: 1px solid red; */
        width: 100%;
        background-color: #E5E5E5;
        /* padding: 10px; */
    }
    .box-2 p{
        font-size: 8px;

    }
    .prize i {
        /* border: 1px solid red; */
        font-size: 10px;
    }


    .box-3 {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 5px;
    }
    .box-3 img {
        /* border: 1px solid red; */
        width: 100%;
        /* padding: 30px; */
    }
    .shoe-3 {
        /* border: 1px solid red; */
        width: 100%;
        background-color: #E5E5E5;
        /* padding: 10px; */
    }
    .box-3 p{
        font-size: 8px;

    }
    .prize i {
        /* border: 1px solid red; */
        font-size: 10px;
    }




    .section-two {
        /* border: 1px solid black; */
        width: 100%;
        padding: 20px 60px;
    }
    .section-two #blue {
        /* border: 1px solid red; */
        font-size: 40px;
    }
    .shoe-parts {
        /* border: 1px solid red ; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .shoe-4 {
        /* border: 1px solid blue; */
        width: 70vw;
        padding: 5px;
    }
    .shoe-4 h4 {
        color: #363958;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .shoe-4 img {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 20px;
    }
    .shoe-5 {
        /* border: 1px solid blue; */
        width: 70vw;
        padding: 5px;
    }
    .shoe-5 h4 {
        color: #363958;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .shoe-5 img {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 20px;
    }


    .shoe-6 {
        /* border: 1px solid blue; */
        width: 70vw;
        padding: 5px;
    }
    .shoe-6 h4 {
        color: #363958;
        font-family: sans-serif;
        padding: 5px 0;
    }
    .shoe-6 img {
        /* border: 1px solid black; */
        width: 70vw;
        padding: 20px;
    }

    .section-three {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* border: 1px solid red; */
    }
    .service-cards {
        width: 70vw;
    }
    .card-1 {
        /* border: 1px solid red; */
        width: 70vw;
        padding: 10px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .card-1 img {
        width: 15vw;
        display: flex;
        gap: 0px;
    }
    .content h4 {
        font-size: 15px;
    }
    .content p {
        font-size: 9px;
        padding-bottom: 10px;
    }
    .service-img img{
        /* border: 1px solid red; */
        width: 70vw;
    }

    .contact-sec {
        width: 100%;
        /* border: 1px solid red; */
        padding: 20px 20px;
    }
    .input { 
        /* padding: 30px; */
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        /* padding; 5px 20px; */
    }
    .input .blue {
        font-size: 9px;
        padding: 5px;
    }
    .input .row { 
        border: 1px solid #646060;
    }
    .row input {
        padding: 2px;
        width: 45vw;
        font-size: 12px;
        /* border: 1px solid red; */

    } 
    .row #add {
        /* border: 1px solid green; */
        font-size: 6px;
        width: 1vw;
        text-align: center;
        border-radius: 2px;
    }
    .information {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

